Repository BlockSecOps/SolidityDefend: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        args: [--check]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features --
        language: system
        types: [rust]
        args: [-D, warnings]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false

      - id: detector-validation
        name: detector validation
        entry: ./scripts/pre-commit-validate.sh
        language: script
        files: ^crates/detectors/
        pass_filenames: false
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1024']

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        types: [python]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        types: [python]

default_language_version:
  python: python3

fix(ci): disable automatic RUSTFLAGS=-Dwarnings from toolchain action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): fix broken pipe in Docker test step
  .github/workflows/ci.yml
Due: none

fix(cli): --version and --help now exit 0 instead of 1
  crates/cli/src/app.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

fix(ci): replace retired macos-13 runner with cross-compile on macos-latest
  .github/workflows/release.yml
  CHANGELOG.md
  docs/GITHUB_ACTIONS.md
  docs/INSTALLATION.md
Due: none

chore: bump version to 1.10.15 and fix validate.yml
  .github/workflows/validate.yml
  Cargo.toml
Due: none

fix(ci): use newer cross Docker image for aarch64 builds
  Cross.toml
Due: none

feat(detectors): false positive reduction v2 — 10 detectors, 37 FPs eliminated
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/circular_dependency.rs
  crates/detectors/src/delegatecall_to_self.rs
  crates/detectors/src/dos_revert_bomb.rs
  crates/detectors/src/dos_unbounded_storage.rs
  crates/detectors/src/flashloan/flashmint_token_inflation.rs
  crates/detectors/src/implementation_not_initialized.rs
  crates/detectors/src/mev_extractable_value.rs
  crates/detectors/src/proxy_storage_collision.rs
  crates/detectors/src/storage_collision.rs
  crates/detectors/src/token_standards_extended/transfer_return_bomb.rs
  crates/detectors/src/validation/parameter_check.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

fix(release): use cross-arch strip for aarch64 binary
  .github/workflows/release.yml
Due: none

feat(detectors): false positive reduction v3 — 10 detectors, 88 FPs eliminated
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/bridge_message_verification.rs
  crates/detectors/src/circular_dependency.rs
  crates/detectors/src/delegatecall_user_controlled.rs
  crates/detectors/src/erc7821/batch_authorization.rs
  crates/detectors/src/erc7821/mod.rs
  crates/detectors/src/gas_griefing.rs
  crates/detectors/src/nonce_reuse.rs
  crates/detectors/src/unsafe_type_casting.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/validation/parameter_check.rs
  crates/detectors/src/validation/zero_address.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat(detectors): false positive reduction v3 — 88 FPs eliminated (#209)
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/bridge_message_verification.rs
  crates/detectors/src/circular_dependency.rs
  crates/detectors/src/delegatecall_user_controlled.rs
  crates/detectors/src/erc7821/batch_authorization.rs
  crates/detectors/src/erc7821/mod.rs
  crates/detectors/src/gas_griefing.rs
  crates/detectors/src/nonce_reuse.rs
  crates/detectors/src/unsafe_type_casting.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/validation/parameter_check.rs
  crates/detectors/src/validation/zero_address.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat(detectors): false positive reduction v4 — 52 FPs eliminated across 10 detectors
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/aa_social_recovery.rs
  crates/detectors/src/access_control.rs
  crates/detectors/src/bridge_chain_id_validation.rs
  crates/detectors/src/delegatecall_to_self.rs
  crates/detectors/src/dos_unbounded_storage.rs
  crates/detectors/src/fallback_function_shadowing.rs
  crates/detectors/src/governance_parameter_bypass.rs
  crates/detectors/src/inefficient_storage.rs
  crates/detectors/src/price_manipulation_frontrun.rs
  crates/detectors/src/storage_collision.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat(detectors): false positive reduction v4 — 52 FPs eliminated across 10 detectors (#210)
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/aa_social_recovery.rs
  crates/detectors/src/access_control.rs
  crates/detectors/src/bridge_chain_id_validation.rs
  crates/detectors/src/delegatecall_to_self.rs
  crates/detectors/src/dos_unbounded_storage.rs
  crates/detectors/src/fallback_function_shadowing.rs
  crates/detectors/src/governance_parameter_bypass.rs
  crates/detectors/src/inefficient_storage.rs
  crates/detectors/src/price_manipulation_frontrun.rs
  crates/detectors/src/storage_collision.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

fix(ci): remove Docker publish job from release pipeline
  .github/workflows/release.yml
Due: none

fix(ci): remove Docker publish job from release pipeline (#211)
  .github/workflows/release.yml
Due: none

feat(detectors): false positive reduction v5 — 20 detectors, 191 FPs eliminated
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/aa_session_key_vulnerabilities.rs
  crates/detectors/src/access_control.rs
  crates/detectors/src/access_control_advanced/time_locked_admin_bypass.rs
  crates/detectors/src/block_stuffing_vulnerable.rs
  crates/detectors/src/challenge_period_bypass.rs
  crates/detectors/src/dos_revert_bomb.rs
  crates/detectors/src/flashloan/flashmint_token_inflation.rs
  crates/detectors/src/front_running_mitigation.rs
  crates/detectors/src/governance.rs
  crates/detectors/src/l2_bridge_message_validation.rs
  crates/detectors/src/l2_mev_sequencer_leak.rs
  crates/detectors/src/mev_enhanced/toxic_flow.rs
  crates/detectors/src/mev_extractable_value.rs
  crates/detectors/src/multisig_bypass.rs
  crates/detectors/src/price_oracle_stale.rs
  crates/detectors/src/proposal_frontrunning.rs
  crates/detectors/src/redundant_checks.rs
  crates/detectors/src/sandwich_resistant_swap.rs
  crates/detectors/src/swc105_unprotected_ether_withdrawal.rs
  crates/detectors/src/transaction_ordering_dependence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

docs: add ground truth baseline documentation for FP reduction process
  docs/baseline/README.md
  docs/baseline/v1.10.19-baseline.md
Due: none

feat(detectors): comprehensive false positive reduction v1.10.20
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/detectors/src/amm_k_invariant_violation.rs
  crates/detectors/src/blockhash_randomness.rs
  crates/detectors/src/cross_chain_replay.rs
  crates/detectors/src/cross_chain_replay_protection.rs
  crates/detectors/src/dangerous_delegatecall.rs
  crates/detectors/src/defi_liquidity_pool_manipulation.rs
  crates/detectors/src/defi_yield_farming.rs
  crates/detectors/src/diamond_facet_code_existence.rs
  crates/detectors/src/dos_block_gas_limit.rs
  crates/detectors/src/dos_failed_transfer.rs
  crates/detectors/src/dos_push_pattern.rs
  crates/detectors/src/dos_unbounded_operation.rs
  crates/detectors/src/excessive_gas_usage.rs
  crates/detectors/src/fallback_delegatecall_unprotected.rs
  crates/detectors/src/governance.rs
  crates/detectors/src/missing_input_validation.rs
  crates/detectors/src/missing_transaction_deadline.rs
  crates/detectors/src/nonce_reuse.rs
  crates/detectors/src/price_impact_manipulation.rs
  crates/detectors/src/price_manipulation_frontrun.rs
  crates/detectors/src/sandwich_conditional_swap.rs
  crates/detectors/src/slashing_mechanism.rs
  crates/detectors/src/timelock_bypass_delegatecall.rs
  crates/detectors/src/token_supply_manipulation.rs
  crates/detectors/src/upgrade_event_missing.rs
  crates/detectors/src/validator_griefing.rs
  crates/detectors/src/vault_hook_reentrancy.rs
  crates/detectors/src/vault_withdrawal_dos.rs
  crates/detectors/src/withdrawal_delay.rs
  crates/detectors/src/zk_proof_bypass.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

docs: add v1.10.20 baseline measurements
  docs/baseline/README.md
  docs/baseline/v1.10.20-baseline.md
Due: none

feat(detectors): FP reduction v9 — 346 findings (81% reduction from baseline)
  crates/detectors/src/bridge_chain_id_validation.rs
  crates/detectors/src/bridge_merkle_bypass.rs
  crates/detectors/src/compound_callback_chain.rs
  crates/detectors/src/defi_yield_farming.rs
  crates/detectors/src/owasp2025/oracle_time_window.rs
  crates/detectors/src/swc105_unprotected_ether_withdrawal.rs
  crates/detectors/src/token_supply_manipulation.rs
  crates/detectors/src/vault_donation_attack.rs
  crates/detectors/src/vault_withdrawal_dos.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

docs: update baseline and changelog for FP reduction v9 — 346 findings (81%)
  docs/CHANGELOG.md
  docs/KNOWN_LIMITATIONS.md
  docs/baseline/v1.10.20-baseline.md
Due: none

fix: resolve all 30 compiler warnings for zero-warning build
  crates/cli/src/app.rs
  crates/detectors/src/access_control_advanced/guardian_role_centralization.rs
  crates/detectors/src/beacon_single_point_of_failure.rs
  crates/detectors/src/create2_frontrunning.rs
  crates/detectors/src/delegatecall_in_loop.rs
  crates/detectors/src/dos_revert_bomb.rs
  crates/detectors/src/eip1153_guard_bypass.rs
  crates/detectors/src/eip1153_transient_reentrancy.rs
  crates/detectors/src/eip7702_sweeper_attack.rs
  crates/detectors/src/encrypted_mempool_timing.rs
  crates/detectors/src/erc721_callback_reentrancy.rs
  crates/detectors/src/excessive_gas_usage.rs
  crates/detectors/src/fallback_delegatecall_unprotected.rs
  crates/detectors/src/governance_parameter_bypass.rs
  crates/detectors/src/l2_sequencer_dependency.rs
  crates/detectors/src/metamorphic_contract.rs
  crates/detectors/src/owasp2025/enhanced_input_validation.rs
  crates/detectors/src/owasp2025/post_080_overflow.rs
  crates/detectors/src/proxy_context_visibility_mismatch.rs
  crates/detectors/src/transparent_proxy_admin_issues.rs
  crates/detectors/src/upgrade_abi_incompatibility.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat(validation): expand ground truth to 117 contracts and align detector IDs
  CHANGELOG.md
  PHASE7_FP_REDUCTION_REPORT.md
  README.md
  docs/CHANGELOG.md
  docs/KNOWN_LIMITATIONS.md
  docs/TESTING.md
  docs/VALIDATION.md
  docs/baseline/README.md
  tests/validation/ground_truth.json
Due: none

feat(detectors): FP reduction v10 — fix parse errors, align ground truth, tighten CI
  .github/workflows/validate.yml
  crates/detectors/src/eip6780_selfdestruct_change.rs
  crates/detectors/src/mev_enhanced/toxic_flow.rs
  crates/detectors/src/order_flow_auction_abuse.rs
  crates/detectors/src/transaction_ordering_dependence.rs
  tests/contracts/delegatecall/secure/DelegatecallReturnChecked.sol
  tests/contracts/delegatecall/secure/ImmutableLibraryDelegatecall.sol
  tests/contracts/delegatecall/secure/SafeConstructorInit.sol
  tests/contracts/delegatecall/secure/SecureDelegatecall.sol
  tests/contracts/delegatecall/vulnerable/ConstructorDelegatecall.sol
  tests/contracts/delegatecall/vulnerable/DelegatecallReturnIgnored.sol
  tests/contracts/delegatecall/vulnerable/UntrustedLibraryDelegatecall.sol
  tests/validation/ground_truth.json
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

docs: update baseline and metrics for FP reduction v10 — 78/78 recall, 0 parse errors
  docs/CHANGELOG.md
  docs/KNOWN_LIMITATIONS.md
  docs/TESTING.md
  docs/VALIDATION.md
  docs/baseline/README.md
  docs/baseline/v1.10.20-baseline.md
Due: none

docs: cleanup and reorganize docs directory and README
  README.md
  docs/DETECTOR-TYPES.md
  docs/DOCKER.md
  docs/DOCKER_VERSIONING.md
  docs/detectors/_reports/DOCUMENTATION_GENERATION_SUMMARY.md
  docs/detectors/_reports/DOCUMENTATION_REPORT.md
  docs/detectors/_reports/FINAL_STATUS_REPORT.md
  docs/detectors/_reports/VERIFICATION_REPORT.md
  docs/standards/detector-validation-workflow.md
Due: none

fix(cli): update output formatting and align test suite
  crates/analysis/tests/regression_tests.rs
  crates/cli/src/app.rs
  crates/fixes/src/lib.rs
  crates/output/src/console.rs
  crates/output/src/json.rs
  tests/detectors/test_proxy_security.rs
  tests/detectors/test_timestamp.rs
  tests/metrics/accuracy.rs
  tests/output/test_console.rs
  tests/regression/mod.rs
  tests/unit/test_fixes.rs
  tests/validation/ground_truth.json
  tests/validation/smartbugs.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

chore: bump version to 1.10.23, update CI detector threshold
  .github/workflows/ci.yml
  Cargo.toml
Due: none

docs: update documentation for v1.10.23 release
  CHANGELOG.md
  Formula/soliditydefend.rb
  README.md
  docs/CHANGELOG.md
  docs/CONFIGURATION.md
  docs/KNOWN_LIMITATIONS.md
  docs/baseline/README.md
  docs/baseline/v1.10.20-v12-baseline.md
  docs/baseline/v1.10.21-v13-baseline.md
  docs/baseline/v1.10.22-v14-baseline.md
  docs/baseline/v1.10.23-v15-baseline.md
  docs/detectors/README.md
  docs/detectors/all_detectors.json
Due: none

fix(ci): lower validation precision threshold from 80% to 15%
  .github/workflows/validate.yml
Due: none

chore(brew): update formula SHA256 hashes for v1.10.23 release
  Formula/soliditydefend.rb
Due: none

fix(detectors): resolve 4 pre-existing unit test failures
  crates/detectors/src/defi_yield_farming.rs
  crates/detectors/src/multisig_bypass.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: bump version to v1.10.24 and update docs
  CHANGELOG.md
  Cargo.toml
  Formula/soliditydefend.rb
  README.md
  docs/CHANGELOG.md
  docs/KNOWN_LIMITATIONS.md
  docs/detectors/README.md
  docs/detectors/all_detectors.json
Due: none

chore(brew): update formula SHA256 hashes for v1.10.24 release
  Formula/soliditydefend.rb
Due: none

fix(ci): align validation precision fallback with dispatch default (0.15)
  .github/workflows/validate.yml
Due: none

feat: SolidityDefend v2.0.0 — dataflow analysis, oracle/L2/lint detectors
  Cargo.toml
  Dockerfile
  Formula/soliditydefend.rb
  README.md
  crates/analysis/src/engine.rs
  crates/cli/Cargo.toml
  crates/cli/src/app.rs
  crates/cli/src/config.rs
  crates/detectors/Cargo.toml
  crates/detectors/src/aa_session_key_vulnerabilities.rs
  crates/detectors/src/cross_contract/analyzer.rs
  crates/detectors/src/cross_contract/interaction_graph.rs
  crates/detectors/src/defi/governance_attacks.rs
  crates/detectors/src/defi/mev.rs
  crates/detectors/src/defi/price_manipulation.rs
  crates/detectors/src/delegatecall_untrusted_library.rs
  crates/detectors/src/detector.rs
  crates/detectors/src/l2_security.rs
  crates/detectors/src/lib.rs
  crates/detectors/src/lint.rs
  crates/detectors/src/oracle_security.rs
  crates/detectors/src/reentrancy.rs
  crates/detectors/src/registry.rs
  crates/detectors/src/taint/analyzer.rs
  crates/detectors/src/types.rs
  crates/detectors/src/vault_share_inflation.rs
  crates/lsp/Cargo.toml
  crates/lsp/src/server.rs
  crates/soliditydefend/src/version.rs
  docs/CHANGELOG.md
  docs/detectors/README.md
  docs/detectors/_reports/DOCUMENTATION_GENERATION_SUMMARY.md
  docs/detectors/all_detectors.json
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore(brew): update formula SHA256 hashes for v2.0.0 release
  Formula/soliditydefend.rb
Due: none

fix: disable 3 noisy detectors by default and apply cargo fmt
  crates/cli/src/app.rs
  crates/detectors/src/delegatecall_untrusted_library.rs
  crates/detectors/src/l2_security.rs
  crates/detectors/src/lint.rs
  crates/detectors/src/oracle_security.rs
  crates/detectors/src/registry.rs
  crates/detectors/src/vault_share_inflation.rs
  crates/lsp/src/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation
