Repository BlockSecOps/SolidityDefend: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        args: [--check]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features --
        language: system
        types: [rust]
        args: [-D, warnings]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false

      - id: detector-validation
        name: detector validation
        entry: ./scripts/pre-commit-validate.sh
        language: script
        files: ^crates/detectors/
        pass_filenames: false
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1024']

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        types: [python]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        types: [python]

default_language_version:
  python: python3

fix: handle panics gracefully in pre-commit validation
  scripts/pre-commit-validate.sh
Due: none

fix: guard against invalid slice range in eip6780 detector
  crates/detectors/src/eip6780_selfdestruct_change.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

fix: tune ground truth to improve recall to 100%
  tests/validation/ground_truth.json
Due: none

chore: release v1.10.1 - pre-commit validation and ground truth tuning
  CHANGELOG.md
  Cargo.toml
Due: none

feat: Phase 5 FP reduction - reduce findings by 588 (-8.6%)
  CHANGELOG.md
  crates/detectors/src/aa_initialization_vulnerability.rs
  crates/detectors/src/jit_liquidity_extraction.rs
  crates/detectors/src/mev_extractable_value.rs
  crates/detectors/src/price_manipulation_frontrun.rs
  crates/detectors/src/timestamp_manipulation.rs
  crates/detectors/src/validation/parameter_check.rs
  crates/detectors/src/vault_withdrawal_dos.rs
  docs/CHANGELOG.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: release v1.10.2 - Phase 5 FP reduction
  Cargo.toml
Due: none

chore: update Homebrew formula to v1.10.2
  Formula/soliditydefend.rb
Due: none

feat: Phase 6 FP reduction - 7 high-FP detectors improved
  CHANGELOG.md
  crates/detectors/src/amm_k_invariant_violation.rs
  crates/detectors/src/circular_dependency.rs
  crates/detectors/src/eip7702_storage_corruption.rs
  crates/detectors/src/excessive_gas_usage.rs
  crates/detectors/src/safe_patterns/contract_classification.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/validation/array_bounds.rs
  crates/detectors/src/validation/zero_address.rs
  docs/CHANGELOG.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: release v1.10.3 - Phase 6 FP reduction
  CHANGELOG.md
  Cargo.toml
  docs/CHANGELOG.md
Due: none

chore: update Homebrew formula to v1.10.3
  Formula/soliditydefend.rb
Due: none

refactor: remove deprecated IDE integrations and update tests
  editors/vscode/package.json
  editors/vscode/src/extension.ts
  extensions/vscode/package.json
  extensions/vscode/src/analysisService.ts
  extensions/vscode/src/configuration.ts
  extensions/vscode/src/dashboard.ts
  extensions/vscode/src/diagnostics.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/provider.ts
  extensions/vscode/src/quickFix.ts
  extensions/vscode/src/securityTree.ts
  ide_integrations/intellij/SolidityDefendPlugin.java
  ide_integrations/intellij/plugin.xml
  ide_integrations/sublime/SolidityDefend.py
  ide_integrations/sublime/SolidityDefend.sublime-package
  ide_integrations/vim/soliditydefend.vim
  scripts/test_developer_experience.sh
  tests/developer_experience/end_to_end_tests.rs
  tests/developer_experience/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

Revert "Merge pull request #171 from BlockSecOps/refactor/cleanup-ide-integrations"
  editors/vscode/package.json
  editors/vscode/src/extension.ts
  extensions/vscode/package.json
  extensions/vscode/src/analysisService.ts
  extensions/vscode/src/configuration.ts
  extensions/vscode/src/dashboard.ts
  extensions/vscode/src/diagnostics.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/provider.ts
  extensions/vscode/src/quickFix.ts
  extensions/vscode/src/securityTree.ts
  ide_integrations/intellij/SolidityDefendPlugin.java
  ide_integrations/intellij/plugin.xml
  ide_integrations/sublime/SolidityDefend.py
  ide_integrations/sublime/SolidityDefend.sublime-package
  ide_integrations/vim/soliditydefend.vim
  scripts/test_developer_experience.sh
  tests/developer_experience/end_to_end_tests.rs
  tests/developer_experience/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat: Phase 9 FP reduction - aggressive false positive reduction
  Cargo.toml
  crates/cli/src/config.rs
  crates/detectors/src/amm_liquidity_manipulation.rs
  crates/detectors/src/bridge_merkle_bypass.rs
  crates/detectors/src/centralization_risk.rs
  crates/detectors/src/constructor_reentrancy.rs
  crates/detectors/src/contract_recreation_attack.rs
  crates/detectors/src/dangerous_delegatecall.rs
  crates/detectors/src/defi_advanced/pool_donation_enhanced.rs
  crates/detectors/src/deprecated_functions.rs
  crates/detectors/src/eip7702_authorization_bypass.rs
  crates/detectors/src/eip7702_delegation_phishing.rs
  crates/detectors/src/eip7702_replay_vulnerability.rs
  crates/detectors/src/eip7702_storage_corruption.rs
  crates/detectors/src/eip7702_sweeper_attack.rs
  crates/detectors/src/erc20_infinite_approval.rs
  crates/detectors/src/excessive_gas_usage.rs
  crates/detectors/src/flash_loan_staking.rs
  crates/detectors/src/floating_pragma.rs
  crates/detectors/src/governance.rs
  crates/detectors/src/inefficient_storage.rs
  crates/detectors/src/mev.rs
  crates/detectors/src/mev_extractable_value.rs
  crates/detectors/src/missing_input_validation.rs
  crates/detectors/src/oracle.rs
  crates/detectors/src/oracle_manipulation.rs
  crates/detectors/src/order_flow_auction_abuse.rs
  crates/detectors/src/owasp2025/logic_error_patterns.rs
  crates/detectors/src/owasp2025/post_080_overflow.rs
  crates/detectors/src/privacy/private_variable_exposure.rs
  crates/detectors/src/reentrancy.rs
  crates/detectors/src/shadowing_variables.rs
  crates/detectors/src/timestamp_manipulation.rs
  crates/detectors/src/unsafe_type_casting.rs
  crates/detectors/src/utils.rs
  crates/detectors/src/validation/parameter_check.rs
  crates/detectors/src/vault_donation_attack.rs
  crates/output/src/lib.rs
  docs/CHANGELOG.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat: Phase 9 FP reduction - aggressive false positive reduction (#173)
  Cargo.toml
  crates/cli/src/config.rs
  crates/detectors/src/amm_liquidity_manipulation.rs
  crates/detectors/src/bridge_merkle_bypass.rs
  crates/detectors/src/centralization_risk.rs
  crates/detectors/src/constructor_reentrancy.rs
  crates/detectors/src/contract_recreation_attack.rs
  crates/detectors/src/dangerous_delegatecall.rs
  crates/detectors/src/defi_advanced/pool_donation_enhanced.rs
  crates/detectors/src/deprecated_functions.rs
  crates/detectors/src/eip7702_authorization_bypass.rs
  crates/detectors/src/eip7702_delegation_phishing.rs
  crates/detectors/src/eip7702_replay_vulnerability.rs
  crates/detectors/src/eip7702_storage_corruption.rs
  crates/detectors/src/eip7702_sweeper_attack.rs
  crates/detectors/src/erc20_infinite_approval.rs
  crates/detectors/src/excessive_gas_usage.rs
  crates/detectors/src/flash_loan_staking.rs
  crates/detectors/src/floating_pragma.rs
  crates/detectors/src/governance.rs
  crates/detectors/src/inefficient_storage.rs
  crates/detectors/src/mev.rs
  crates/detectors/src/mev_extractable_value.rs
  crates/detectors/src/missing_input_validation.rs
  crates/detectors/src/oracle.rs
  crates/detectors/src/oracle_manipulation.rs
  crates/detectors/src/order_flow_auction_abuse.rs
  crates/detectors/src/owasp2025/logic_error_patterns.rs
  crates/detectors/src/owasp2025/post_080_overflow.rs
  crates/detectors/src/privacy/private_variable_exposure.rs
  crates/detectors/src/reentrancy.rs
  crates/detectors/src/shadowing_variables.rs
  crates/detectors/src/timestamp_manipulation.rs
  crates/detectors/src/unsafe_type_casting.rs
  crates/detectors/src/utils.rs
  crates/detectors/src/validation/parameter_check.rs
  crates/detectors/src/vault_donation_attack.rs
  crates/output/src/lib.rs
  docs/CHANGELOG.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update Homebrew formula to v1.10.4
  Formula/soliditydefend.rb
Due: none

feat: Phase 10 FP reduction - extended context gating
  Cargo.toml
  README.md
  crates/detectors/src/circular_dependency.rs
  crates/detectors/src/deadline_manipulation.rs
  crates/detectors/src/encrypted_mempool_timing.rs
  crates/detectors/src/owasp2025/enhanced_input_validation.rs
  crates/detectors/src/swc105_unprotected_ether_withdrawal.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/utils.rs
  crates/detectors/src/validation/array_bounds.rs
  docs/CHANGELOG.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update Homebrew formula to v1.10.5
  Formula/soliditydefend.rb
Due: none

chore: update Homebrew formula with x86_64 SHA256 for v1.10.5
  Formula/soliditydefend.rb
Due: none

fix: resolve constructor-reentrancy false positive on ERC20 _mint()
  CHANGELOG.md
  crates/detectors/src/constructor_reentrancy.rs
  docs/detectors/deployment/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: bump version to 1.10.6
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

feat: Phase 11 FP reduction - fix amm, token supply, and JIT detectors
  crates/detectors/src/amm_liquidity_manipulation.rs
  crates/detectors/src/cross_l2_frontrunning.rs
  crates/detectors/src/cross_rollup_state_mismatch.rs
  crates/detectors/src/defi_advanced/jit_liquidity_sandwich.rs
  crates/detectors/src/escape_hatch_dependency.rs
  crates/detectors/src/token_supply_manipulation.rs
  crates/detectors/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: bump version to 1.10.7
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

feat: Phase 12 FP reduction - additional detector context gating
  crates/detectors/src/access_control.rs
  crates/detectors/src/access_control_advanced/guardian_role_centralization.rs
  crates/detectors/src/centralization_risk.rs
  crates/detectors/src/mev_enhanced/priority_gas_auction.rs
  crates/detectors/src/nft_mint_mev.rs
  crates/detectors/src/token_supply_manipulation.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/utils.rs
  crates/detectors/src/vault_share_inflation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

docs: add Phase 11 changelog entries for v1.10.7
  docs/CHANGELOG.md
Due: none

chore: bump version to 1.10.8
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

docs: add v1.10.8 to docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: none

feat: Phase 13 FP reduction - medium priority detectors
  CHANGELOG.md
  Cargo.toml
  crates/detectors/src/lending_borrow_bypass.rs
  crates/detectors/src/token_standards_extended/decimal_confusion.rs
  crates/detectors/src/vault_donation_attack.rs
  crates/soliditydefend/src/version.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat: Phase 14-15 FP reduction - 400 false positives eliminated
  Cargo.toml
  Formula/soliditydefend.rb
  crates/detectors/src/backrunning_opportunity.rs
  crates/detectors/src/bridge_merkle_bypass.rs
  crates/detectors/src/eip7702/mod.rs
  crates/detectors/src/initcode_injection.rs
  crates/detectors/src/lending_borrow_bypass.rs
  crates/detectors/src/liquidation_mev.rs
  crates/detectors/src/oracle.rs
  crates/detectors/src/reentrancy.rs
  crates/detectors/src/shadowing_variables.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/utils.rs
  crates/detectors/src/validation/parameter_check.rs
  docs/CHANGELOG.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update brew formula SHA256 for v1.10.11
  Formula/soliditydefend.rb
Due: none

fix: brew formula test assertions and x86_64 SHA256
  Formula/soliditydefend.rb
Due: none

docs: add Phase 7 and Phase 8 false positive reduction reports
  PHASE7_FP_REDUCTION_REPORT.md
  PHASE8_FP_REDUCTION_REPORT.md
Due: none

chore: update version references to 1.10.11 and fix detector count
  .gitignore
  Dockerfile
  README.md
  install.sh
Due: none

fix: add Linux x86_64 SHA256 to Homebrew formula
  Formula/soliditydefend.rb
Due: none

docs: update detector count from 333 to 330 across all documentation
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/detectors/README.md
  docs/detectors/all_detectors.json
Due: none

feat: Phase 16 FP reduction and recall recovery
  Dockerfile
  README.md
  crates/detectors/src/centralization_risk.rs
  crates/detectors/src/delegatecall_to_self.rs
  crates/detectors/src/dos_unbounded_operation.rs
  crates/detectors/src/floating_pragma.rs
  crates/detectors/src/mev_extractable_value.rs
  crates/detectors/src/owasp2025/post_080_overflow.rs
  crates/detectors/src/safe_patterns/mev_protection_patterns.rs
  crates/detectors/src/swc133_hash_collision_varlen.rs
  crates/detectors/src/unused_state_variables.rs
  crates/detectors/src/utils.rs
  crates/detectors/src/validation/parameter_check.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat: Phase 51 documentation and release artifacts
  Dockerfile
  Formula/soliditydefend.rb
  README.md
  docs/CHANGELOG.md
  docs/detectors/README.md
  docs/detectors/eips/README.md
  docs/detectors/eips/phase51-eip3074-future.md
  tests/contracts/phase51_eip3074_future/SecureEIP3074Invoker.sol
  tests/contracts/phase51_eip3074_future/VulnerableEIP3074Invoker.sol
  tests/contracts/phase51_eip3074_future/VulnerableEIP4844Blob.sol
  tests/contracts/phase51_eip3074_future/VulnerableEIP6780Selfdestruct.sol
  tests/contracts/phase51_eip3074_future/VulnerablePush0Compatibility.sol
Due: none

fix: correct Homebrew formula SHA256 hashes to match v1.10.11 release
  Formula/soliditydefend.rb
Due: none

feat: Phase 51 EIP-3074/4844/6780/PUSH0 Documentation & Formula Update (#180)
  Dockerfile
  Formula/soliditydefend.rb
  README.md
  docs/CHANGELOG.md
  docs/detectors/README.md
  docs/detectors/eips/README.md
  docs/detectors/eips/phase51-eip3074-future.md
  tests/contracts/phase51_eip3074_future/SecureEIP3074Invoker.sol
  tests/contracts/phase51_eip3074_future/VulnerableEIP3074Invoker.sol
  tests/contracts/phase51_eip3074_future/VulnerableEIP4844Blob.sol
  tests/contracts/phase51_eip3074_future/VulnerableEIP6780Selfdestruct.sol
  tests/contracts/phase51_eip3074_future/VulnerablePush0Compatibility.sol
Due: none

docs: add individual EIP detector documentation
  docs/detectors/eips/eip3074-detectors.md
  docs/detectors/eips/eip4844-detectors.md
  docs/detectors/eips/eip6780-detectors.md
  docs/detectors/eips/push0-detectors.md
Due: none
