Repository BlockSecOps/SolidityDefend: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        args: [--check]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features --
        language: system
        types: [rust]
        args: [-D, warnings]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        types: [rust]
        pass_filenames: false

      - id: detector-validation
        name: detector validation
        entry: ./scripts/pre-commit-validate.sh
        language: script
        files: ^crates/detectors/
        pass_filenames: false
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1024']

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        types: [python]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        types: [python]

default_language_version:
  python: python3

docs: add individual EIP detector documentation (#181)
  docs/detectors/eips/eip3074-detectors.md
  docs/detectors/eips/eip4844-detectors.md
  docs/detectors/eips/eip6780-detectors.md
  docs/detectors/eips/push0-detectors.md
Due: none

feat: Phase 51 context-aware FP reduction for 5 detectors
  crates/detectors/src/defi_advanced/pool_donation_enhanced.rs
  crates/detectors/src/encrypted_mempool_timing.rs
  crates/detectors/src/owasp2025/enhanced_input_validation.rs
  crates/detectors/src/owasp2025/post_080_overflow.rs
  crates/detectors/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

test: update ground truth for Phase 51 FP reduction
  tests/validation/ground_truth.json
Due: none

docs: update documentation for v1.10.11 release
  README.md
  docs/CHANGELOG.md
Due: none

chore: update Homebrew formula for v1.10.11
  Formula/soliditydefend.rb
Due: none

fix: update Homebrew formula URLs to match release naming
  Formula/soliditydefend.rb
Due: none

chore: bump version to 1.10.12
  Cargo.toml
  Dockerfile
  README.md
Due: none

chore: update Homebrew formula for v1.10.12
  Formula/soliditydefend.rb
Due: none

feat(cli): add project-aware scanning with dependency graph analysis
  crates/cli/src/app.rs
  crates/project/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

feat(output): add ProjectSummary and CategorizedFindings modules
  crates/output/src/lib.rs
  crates/output/src/summary.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit

fix(detectors): reduce false positives on standard library contracts
  crates/detectors/src/defi_advanced/pool_donation_enhanced.rs
  crates/detectors/src/proxy_storage_collision.rs
  crates/detectors/src/token_supply_manipulation.rs
  crates/detectors/src/uups_missing_disable_initializers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

docs: add project-aware scanning documentation
  docs/CLI.md
  docs/KNOWN_LIMITATIONS.md
  docs/USAGE.md
Due: none

chore: bump version to 1.10.13
  CHANGELOG.md
  Cargo.toml
  README.md
Due: none

fix(detectors): reduce false positives across multiple detectors
  crates/detectors/src/batch_transfer_overflow.rs
  crates/detectors/src/defi_advanced/pool_donation_enhanced.rs
  crates/detectors/src/integer_overflow.rs
  crates/detectors/src/token_supply_manipulation.rs
  crates/detectors/src/upgradeable_proxy_issues.rs
  crates/detectors/src/validation/zero_address.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update Homebrew formula to v1.10.13
  Formula/soliditydefend.rb
Due: none

fix(detectors): phase 53 - reduce FPs on standard proxy contracts
  crates/detectors/src/circular_dependency.rs
  crates/detectors/src/fallback_delegatecall_pattern.rs
  crates/detectors/src/hardware_wallet_delegation.rs
  crates/detectors/src/immutable_in_upgradeable.rs
  crates/detectors/src/missing_storage_gap.rs
  crates/detectors/src/role_escalation_upgrade.rs
  crates/detectors/src/storage_layout_upgrade.rs
  crates/detectors/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update Homebrew formula SHA256 for FP-reduced binary
  Formula/soliditydefend.rb
Due: none

fix(detectors): phase 53 - reduce FPs on legitimate protocols
  crates/detectors/src/eip7702/sweeper_detection.rs
  crates/detectors/src/proxy_context_visibility_mismatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update Homebrew formula SHA256 for protocol FP-reduced binary
  Formula/soliditydefend.rb
Due: none

fix(detectors): phase 53 - reduce FPs on signatures, storage, permits
  crates/detectors/src/deadline_manipulation.rs
  crates/detectors/src/governance.rs
  crates/detectors/src/missing_eip712_domain.rs
  crates/detectors/src/permit_signature_exploit.rs
  crates/detectors/src/signature_malleability.rs
  crates/detectors/src/storage_collision.rs
  crates/detectors/src/uninitialized_storage.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

chore: update Homebrew formula SHA256 for signature/storage FP-reduced binary
  Formula/soliditydefend.rb
Due: none

docs: add testing documentation and TaskDocs directory
  README.md
  TaskDocs-SolidityDefend/DETECTOR-DEVELOPMENT.md
  TaskDocs-SolidityDefend/FP-REDUCTION.md
  TaskDocs-SolidityDefend/README.md
  TaskDocs-SolidityDefend/RELEASE.md
  TaskDocs-SolidityDefend/TESTING-PROTOCOLS.md
  docs/TESTING.md
Due: none

chore: update Homebrew formula SHA256 for docs release
  Formula/soliditydefend.rb
Due: none

chore: add NOTICE file and update license attribution
  CONTRIBUTING.md
  LICENSE
  LICENSE-APACHE
  LICENSE-MIT
  NOTICE
  README.md
Due: none

docs: add BlockSecOps.com and improve build instructions
  Dockerfile
  README.md
Due: none

docs: update documentation for v1.10.13 launch
  docs/CHANGELOG.md
  docs/INSTALLATION.md
  docs/TESTING.md
Due: none

feat: add Safe Patterns Library for FP reduction
  README.md
  TaskDocs-SolidityDefend/FP-REDUCTION.md
  TaskDocs-SolidityDefend/README.md
  crates/detectors/src/defi_yield_farming.rs
  crates/detectors/src/flash_callback_manipulation.rs
  crates/detectors/src/lending_liquidation_abuse.rs
  crates/detectors/src/lib.rs
  crates/detectors/src/oracle_manipulation.rs
  crates/detectors/src/registry.rs
  crates/detectors/src/safe_patterns/flash_loan_patterns.rs
  crates/detectors/src/safe_patterns/mod.rs
  crates/detectors/src/safe_patterns/oracle_patterns.rs
  crates/detectors/src/safe_patterns/restaking_patterns.rs
  crates/detectors/tests/fp_regression_tests.rs
  docs/detectors/README.md
  docs/detectors/flash-loans/README.md
  docs/detectors/oracle/README.md
  docs/detectors/restaking/README.md
  tests/contracts/README.md
  tests/contracts/fp_benchmarks/README.md
  tests/contracts/fp_benchmarks/safe_amm_pool.sol
  tests/contracts/fp_benchmarks/safe_chainlink_consumer.sol
  tests/contracts/fp_benchmarks/safe_erc4626_vault.sol
  tests/contracts/fp_benchmarks/safe_flash_loan_provider.sol
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat: add Safe Patterns Library for FP reduction (#198)
  README.md
  TaskDocs-SolidityDefend/FP-REDUCTION.md
  TaskDocs-SolidityDefend/README.md
  crates/detectors/src/defi_yield_farming.rs
  crates/detectors/src/flash_callback_manipulation.rs
  crates/detectors/src/lending_liquidation_abuse.rs
  crates/detectors/src/lib.rs
  crates/detectors/src/oracle_manipulation.rs
  crates/detectors/src/registry.rs
  crates/detectors/src/safe_patterns/flash_loan_patterns.rs
  crates/detectors/src/safe_patterns/mod.rs
  crates/detectors/src/safe_patterns/oracle_patterns.rs
  crates/detectors/src/safe_patterns/restaking_patterns.rs
  crates/detectors/tests/fp_regression_tests.rs
  docs/detectors/README.md
  docs/detectors/flash-loans/README.md
  docs/detectors/oracle/README.md
  docs/detectors/restaking/README.md
  tests/contracts/README.md
  tests/contracts/fp_benchmarks/README.md
  tests/contracts/fp_benchmarks/safe_amm_pool.sol
  tests/contracts/fp_benchmarks/safe_chainlink_consumer.sol
  tests/contracts/fp_benchmarks/safe_erc4626_vault.sol
  tests/contracts/fp_benchmarks/safe_flash_loan_provider.sol
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

commit
  TaskDocs-SolidityDefend/DETECTOR-DEVELOPMENT.md
  TaskDocs-SolidityDefend/FP-REDUCTION.md
  TaskDocs-SolidityDefend/README.md
  TaskDocs-SolidityDefend/RELEASE.md
  TaskDocs-SolidityDefend/TESTING-PROTOCOLS.md
Due: none

chore(docker): update Dockerfile for Rust 1.85 and improved labels
  Dockerfile
Due: none

feat(detectors): comprehensive false positive reduction (24 categories)
  Cargo.toml
  Dockerfile
  README.md
  crates/detectors/src/access_control.rs
  crates/detectors/src/centralization_risk.rs
  crates/detectors/src/create2_frontrunning.rs
  crates/detectors/src/dangerous_delegatecall.rs
  crates/detectors/src/delegatecall_in_constructor.rs
  crates/detectors/src/dos_failed_transfer.rs
  crates/detectors/src/dos_unbounded_operation.rs
  crates/detectors/src/erc721_callback_reentrancy.rs
  crates/detectors/src/erc7821/batch_authorization.rs
  crates/detectors/src/extcodesize_bypass.rs
  crates/detectors/src/external.rs
  crates/detectors/src/metamorphic_contract.rs
  crates/detectors/src/permit_signature_exploit.rs
  crates/detectors/src/reentrancy.rs
  crates/detectors/src/safe_patterns/library_patterns.rs
  crates/detectors/src/safe_patterns/mod.rs
  crates/detectors/src/storage_layout_upgrade.rs
  crates/detectors/src/timestamp_manipulation.rs
  crates/detectors/src/unchecked_send_return.rs
  crates/detectors/src/unsafe_type_casting.rs
  crates/detectors/tests/fp_regression_tests.rs
  docs/CHANGELOG.md
  docs/KNOWN_LIMITATIONS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

feat(detectors): comprehensive false positive reduction v1.10.14 (#200)
  Cargo.toml
  Dockerfile
  README.md
  crates/detectors/src/access_control.rs
  crates/detectors/src/centralization_risk.rs
  crates/detectors/src/create2_frontrunning.rs
  crates/detectors/src/dangerous_delegatecall.rs
  crates/detectors/src/delegatecall_in_constructor.rs
  crates/detectors/src/dos_failed_transfer.rs
  crates/detectors/src/dos_unbounded_operation.rs
  crates/detectors/src/erc721_callback_reentrancy.rs
  crates/detectors/src/erc7821/batch_authorization.rs
  crates/detectors/src/extcodesize_bypass.rs
  crates/detectors/src/external.rs
  crates/detectors/src/metamorphic_contract.rs
  crates/detectors/src/permit_signature_exploit.rs
  crates/detectors/src/reentrancy.rs
  crates/detectors/src/safe_patterns/library_patterns.rs
  crates/detectors/src/safe_patterns/mod.rs
  crates/detectors/src/storage_layout_upgrade.rs
  crates/detectors/src/timestamp_manipulation.rs
  crates/detectors/src/unchecked_send_return.rs
  crates/detectors/src/unsafe_type_casting.rs
  crates/detectors/tests/fp_regression_tests.rs
  docs/CHANGELOG.md
  docs/KNOWN_LIMITATIONS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

fix(detectors): enhance reentrancy false positive reduction
  crates/detectors/src/reentrancy.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-audit, detector-validation

fix(ci): rewrite release workflow for modern GH Actions
  .github/workflows/release.yml
Due: none

fix(ci): fix clippy warnings, Docker gate, and validate action
  .github/workflows/ci.yml
  .github/workflows/validate.yml
  Cross.toml
Due: none

docs: update for v1.10.15 release and GH Actions build pipeline
  CHANGELOG.md
  README.md
  docs/DOCKER.md
  docs/GITHUB_ACTIONS.md
  docs/INSTALLATION.md
Due: none

fix(ci): set clippy to advisory mode (non-blocking)
  .github/workflows/ci.yml
  docs/GITHUB_ACTIONS.md
Due: none
